body {
  background-color: #2470a0;
  padding: 50px;
}

.memory-game-cont {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

* {
  color: white;
  text-align: center;
}
